.inputField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit {
    width: 100%;
    background-color: rgb(64, 104, 163);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #8968CD;
  }
  
  .singincontainer {
    border-radius: 5px;
    background-color: gainsboro;
    padding: 20px;
    width:100vh;
    margin:30vh 0px 0px 0px
  }